.autoc{
    position: absolute;
    text-align: left;
    border: 1px solid #ccc;
    border-top:0;
    display: none;
}
.autoc ul{
    list-style-type: none;
}
.autoc ul,.autoc li{
    margin: 0;
    padding: 0;
}
.auto-inner{
    padding: 5px;
}
.auto-item.active .auto-inner{
    background-color:#ccc;
}
.auto-item:hover{
    background-color: #ccc;
}